<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Test with isma_framework</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Yay !! it works !!!" />
    {% css:mui.min.css %}
    {% css:materialize.min.css %}
    {% js:jquery-2.1.4.min.js %}
    {% js:mui.min.js %}
    {% js:materialize.min.js %}
</head>
<body>
<div class="container">
    <p>Some img here !!</p>
    <p>{{ foo }}</p>
    <p>{{ baz }}</p>
    <p>{{ wesh }}</p>
    <p>{{ b2o }}</p>
    <table>
        <caption>A User !!</caption>
        <tr>
            <th>Firstname :</th>
            <th>Lastname :</th>
            <th>Login :</th>
            <th>Birthdate :</th>
        </tr>
        <tr>
            {% for user in users %}
            <td>* {{ user.firstname }}</td>
            <td>* {{ user.lastname }}</td>
            <td>* {{ user.username }}</td>
            <td>* {{ user.birthdate }}</td>
            {% else %}
                No User found
            {% endfor %}
        </tr>
    </table>
    <!--<p>{% img:src:confused.gif|alt:a confused people|id:john|class:image %}</p>
    <p>{% img:src:3k.jpg|alt:mega big image|id:big_image|class:image %}</p>-->
    </div>
</body>
</html>