<!DOCTYPE html>
<html lang="fr">
<head>
    <title>My FrameWork</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Bienvenue dans mon FrameWork" />
</head>
<body>
    <p>{# foo #}</p>
    <p>{# baz #}</p>
    <p>{# wesh #}</p>
    <p>{# b2o #}</p>
    <table>
        <caption>Un User !!</caption>
        <tr>
            <th>Firstname :</th>
            <th>Lastname :</th>
            <th>Login :</th>
            <th>Email :</th>
        </tr>
        <tr>
            <td>{# firstname #}</td>
            <td>{# lastname #}</td>
            <td>{# login #}</td>
            <td>{# email #}</td>
        </tr>
    </table>
</body>
</html>