<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Test with isma_framework</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Yay !! it works !!!" />
</head>
<body>
    <p>{# foo #}</p>
    <p>{# baz #}</p>
    <p>{# wesh #}</p>
    <p>{# b2o #}</p>
    <table>
        <caption>A User !!</caption>
        <tr>
            <th>Firstname :</th>
            <th>Lastname :</th>
            <th>Login :</th>
            <th>Birthdate :</th>
        </tr>
        <tr>
            <td>{# firstname #}</td>
            <td>{# lastname #}</td>
            <td>{# username #}</td>
            <td>{# birthdate #}</td>
        </tr>
    </table>
</body>
</html>