RewriteEngine On
RewriteRule ^([a-z0-9A-Z]+)$ index.php?page=$1
RewriteRule ^([a-z0-9A-Z]+)/$ index.php?page=$1
RewriteRule ^index.php/([a-z0-9A-Z]+)$ index.php?page=$1
RewriteRule ^index.php/([a-z0-9A-Z]+)/$ index.php?page=$1
RewriteRule ^([a-z0-9A-Z]+)/([a-z0-9A-Z]+)$ index.php?page=$1&action=$2
RewriteRule ^([a-z0-9A-Z]+)/([a-z0-9A-Z]+)/$ index.php?page=$1&action=$2
RewriteRule ^index.php/([a-z0-9A-Z]+)/([a-z0-9A-Z]+)$ index.php?page=$1&action=$2
RewriteRule ^index.php/([a-z0-9A-Z]+)/([a-z0-9A-Z]+)/$ index.php?page=$1&action=$2
#404 not found
#If you change the project name, don't forget to change isma_framework by the new name
ErrorDocument 404 /isma_framework/public/error/404.php